body {
    position: relative;
    background-color:#000000;
    color: #152635;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
    font-family: Ariel, sans-serif;
}
.topnav {
    position: fixed;
    background-color: #333333;
    overflow: hidden;
    max-width: 100px;
}
.topnav a {
    display: block;
    color: #ff0066;
    text-decoration: none;
    font-size: 15px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .active {
    background-color: #4CAF50;
    color: white;
}
#about {
    padding-top:50px;
    background-color: #000; 
    max-width:90%; margin: 30px auto; 
    padding:30px;
}
#aboutText {
    padding-top:5%;
    padding-top:50px;
}
#aboutImg {
    border-radius: 50% !important;
}
#portfolio {
    padding-top:50px; 
    background-color: #fff; 
    max-width:90%; 
    margin: 30px auto;
}
#contact {
    padding-top:50px; 
    background-color: #fff; 
    max-width:90%; margin: 30px auto; 
    padding-bottom: 30px;
}
#about {
    background-color:#b3b300;
}
#portfolio {
    background-color:#8c8c8c;
}
#contact {
    background-color:#94b8b8;
}
.placeholder, .project {
    max-width:80%;
    margin:10px auto;
}
.social {
    margin: auto;
    width: 50%;
    padding: 10px;
}
li {
    display:inline;
}
.fa-twitter, .fa-linkedin, .fa-instagram, .fa-github {
    font-size:1.75em;
    color:#000099;
    padding:20px;
}
.fa:hover {
    color:#52768F;
}
ul {
    list-style: none;
}
.important {
    text-align:center;
}
.btn:hover {
    background-color:#4F99BC;
    opacity:0.5;
}
.btn:active {
    background-color:#4F99BC;
}
form {
    max-width: 95%;
}